n8n-workflows/exports/realistic-logistics-workflow-fixed-v2.json
{
  "name": "SmartHaul Realistic Logistics Automation - FIXED V2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "scheduler-node",
      "name": "Monitor Every 15 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM shipments WHERE status = 'in_transit' AND eta < NOW() + INTERVAL '2 hours'",
        "additionalFields": {}
      },
      "id": "get-delayed-shipments",
      "name": "Get Delayed Shipments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [460, 180],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM trucks WHERE status = 'maintenance'",
        "additionalFields": {}
      },
      "id": "get-maintenance-trucks",
      "name": "Get Maintenance Trucks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [460, 360],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM shipments WHERE status = 'in_transit' AND eta < NOW() + INTERVAL '30 minutes'",
        "additionalFields": {}
      },
      "id": "get-urgent-shipments",
      "name": "Get Urgent Shipments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [460, 540],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE shipments SET eta = eta + INTERVAL '1 hour' WHERE id = $1 RETURNING id, eta",
        "additionalFields": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "id": "update-delayed-eta",
      "name": "Update Delayed ETA",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [900, 100],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO delivery_events (shipment_id, event_type, location, notes) VALUES ($1, 'delay_alert', $2, 'Delivery delayed: ETA updated due to traffic/weather')",
        "additionalFields": {
          "queryReplacement": "={{ $json.id }},={{ $json.destination }}"
        }
      },
      "id": "create-delay-event",
      "name": "Create Delay Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1120, 100],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/notifications/delay",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "jsonParameters": true,
        "options": { "bodyContentType": "json" },
        "body": "={{ ({ type: 'delay_alert', shipment_id: $('Get Delayed Shipments').item.json.id, message: `Shipment ${$('Get Delayed Shipments').item.json.tracking_number} delayed. New ETA: ${$('Update Delayed ETA').item.json.eta}`, timestamp: new Date().toISOString() }) }}"
      },
      "id": "notify-frontend-delay",
      "name": "Notify Frontend - Delay",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE predictions SET predicted_delay = predicted_delay + 60, risk_score = LEAST(risk_score + 0.2, 1.0) WHERE shipment_id = $1",
        "additionalFields": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "id": "update-delay-prediction",
      "name": "Update Delay Prediction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1560, 100],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE shipments SET status = 'pending', eta = eta + INTERVAL '4 hours' WHERE truck_id = $1",
        "additionalFields": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "id": "reassign-maintenance-shipments",
      "name": "Reassign Maintenance Shipments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO delivery_events (shipment_id, event_type, location, notes) VALUES (5, 'truck_maintenance', 'System', 'Shipment reassigned due to truck maintenance - Truck ID: ' || $1)",
        "additionalFields": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "id": "create-maintenance-event",
      "name": "Create Maintenance Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/notifications/maintenance",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "jsonParameters": true,
        "options": { "bodyContentType": "json" },
        "body": "={{ ({ type: 'truck_maintenance', truck_id: $('Get Maintenance Trucks').item.json.id, message: `Truck ${$('Get Maintenance Trucks').item.json.plate_number} needs maintenance. Shipments reassigned.`, timestamp: new Date().toISOString() }) }}"
      },
      "id": "notify-frontend-maintenance",
      "name": "Notify Frontend - Maintenance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO delivery_events (shipment_id, event_type, location, notes) VALUES ($1, 'urgent_alert', $2, 'URGENT: Delivery within 30 minutes')",
        "additionalFields": {
          "queryReplacement": "={{ $json.id }},={{ $json.destination }}"
        }
      },
      "id": "create-urgent-event",
      "name": "Create Urgent Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [900, 500],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/notifications/urgent",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "jsonParameters": true,
        "options": { "bodyContentType": "json" },
        "body": "={{ ({ type: 'urgent_alert', shipment_id: $('Get Urgent Shipments').item.json.id, message: `URGENT: Shipment ${$('Get Urgent Shipments').item.json.tracking_number} arriving in 30 minutes!`, timestamp: new Date().toISOString() }) }}"
      },
      "id": "notify-frontend-urgent",
      "name": "Notify Frontend - Urgent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE predictions SET risk_score = LEAST(risk_score + 0.3, 1.0) WHERE shipment_id = $1",
        "additionalFields": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "id": "update-urgent-prediction",
      "name": "Update Urgent Prediction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1340, 500],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_shipments, COUNT(CASE WHEN status = 'delivered' THEN 1 END) as delivered, COUNT(CASE WHEN status = 'in_transit' THEN 1 END) as in_transit, COUNT(CASE WHEN status = 'pending' THEN 1 END) as pending FROM shipments",
        "additionalFields": {}
      },
      "id": "generate-daily-statistics",
      "name": "Generate Daily Statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [900, 700],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO delivery_events (shipment_id, event_type, location, notes) VALUES (1, 'daily_report', 'System', 'Daily Statistics: Total: ' || $1 || ', Delivered: ' || $2 || ', In Transit: ' || $3 || ', Pending: ' || $4)",
        "additionalFields": {
          "queryReplacement": "={{ $json.total_shipments }},={{ $json.delivered }},={{ $json.in_transit }},={{ $json.pending }}"
        }
      },
      "id": "create-daily-report",
      "name": "Create Daily Report",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1120, 700],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/notifications/daily-report",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "jsonParameters": true,
        "options": { "bodyContentType": "json" },
        "body": "={{ (() => { const s = $('Generate Daily Statistics').item.json; return ({ type: 'daily_report', statistics: s, message: `Daily Report: ${s.total_shipments} total shipments, ${s.delivered} delivered, ${s.in_transit} in transit`, timestamp: new Date().toISOString() }); })() }}"
      },
      "id": "notify-frontend-daily",
      "name": "Notify Frontend - Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1340, 700]
    }
  ],
  "connections": {
    "Monitor Every 15 Min": {
      "main": [
        [
          { "node": "Get Delayed Shipments", "type": "main", "index": 0 },
          { "node": "Get Maintenance Trucks", "type": "main", "index": 0 },
          { "node": "Get Urgent Shipments", "type": "main", "index": 0 },
          { "node": "Generate Daily Statistics", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Delayed Shipments": {
      "main": [
        [
          { "node": "Update Delayed ETA", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Delayed ETA": {
      "main": [
        [
          { "node": "Create Delay Event", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Delay Event": {
      "main": [
        [
          { "node": "Notify Frontend - Delay", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Frontend - Delay": {
      "main": [
        [
          { "node": "Update Delay Prediction", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Maintenance Trucks": {
      "main": [
        [
          { "node": "Reassign Maintenance Shipments", "type": "main", "index": 0 }
        ]
      ]
    },
    "Reassign Maintenance Shipments": {
      "main": [
        [
          { "node": "Create Maintenance Event", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Maintenance Event": {
      "main": [
        [
          { "node": "Notify Frontend - Maintenance", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Urgent Shipments": {
      "main": [
        [
          { "node": "Create Urgent Event", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Urgent Event": {
      "main": [
        [
          { "node": "Notify Frontend - Urgent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Frontend - Urgent": {
      "main": [
        [
          { "node": "Update Urgent Prediction", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate Daily Statistics": {
      "main": [
        [
          { "node": "Create Daily Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Daily Report": {
      "main": [
        [
          { "node": "Notify Frontend - Daily Report", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "smarthaul-logistics",
      "name": "SmartHaul Logistics"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "3.2"
}
