n8n-workflows/exports/simple-test-workflow.json
{
  "name": "Simple SmartHaul Test Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "scheduler-node",
      "name": "Test Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total FROM shipments",
        "additionalFields": {}
      },
      "id": "count-shipments",
      "name": "Count Shipments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "smarthaul-db-credential",
          "name": "SmartHaul Database"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/notifications/delay",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "jsonParameters": true,
        "options": { "bodyContentType": "json" },
        "body": "={{ ({ type: 'test_notification', message: `Database test: Found ${$json.total} shipments`, timestamp: new Date().toISOString() }) }}"
      },
      "id": "notify-test",
      "name": "Notify Test Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Test Every Minute": {
      "main": [
        [
          {
            "node": "Count Shipments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Shipments": {
      "main": [
        [
          {
            "node": "Notify Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "smarthaul-test",
      "name": "SmartHaul Test"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1.0"
} 