n8n-workflows/exports/smarthaul-local-test.json
{
  "name": "SmartHaul Local Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-shipment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook - Test Shipment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "test-shipment-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM shipments WHERE tracking_number = $1",
        "additionalFields": {
          "queryReplacement": "SELECT * FROM shipments WHERE tracking_number = $1"
        }
      },
      "id": "db-query-node",
      "name": "Query Shipment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Workflow executed successfully\",\n  \"shipment_found\": {{ $json.length > 0 }},\n  \"shipment_data\": {{ $json }}\n}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook - Test Shipment": {
      "main": [
        [
          {
            "node": "Query Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Shipment": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
} 